nav {
  background-color: lightskyblue;
  text-align: center;
  font-size: 40px;
  color: white;
  border-bottom: 1px solid silver;
  width: 100%;
  padding: 10px 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

canvas {
  border: 1px solid indigo;
  background-color: lightgrey;
  padding: 0;
  margin: auto;
  display: block;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.color-bar {
  width: 40px;
  height: 20px;
  display: inline-block;
  /* padding: 0px 1%; */
}

.container {
  border: 1px solid indigo;
  background-color: lightgoldenrodyellow;
  padding: 0;
  margin: auto;
  width: 720px;
  display: flex;
  flex-wrap: nowrap;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  /* float: right; */
  margin: 5px 10px;
  width: 20%;
}

button:hover {
  background-color: lightcyan;
}

.functions {
  /* float: right; */
  padding: 10px 5px;
  font-size: 14px;
}

#color-select #matching-color #number-of-obstacles {
  padding: 10px 0px;
}
select {
  padding: 8px 20px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
input {
  width: 40px;
  border-radius: 1px;
}

.quest {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
  width: 30%;
  margin: 5px;
  display: inline-block;
  background-color: whitesmoke;
}

#scoreDiv {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 5px;
  width: 10%;
  background-color: whitesmoke;
  display: inline-block;
  text-align: center;
}
#score {
  font-size: 30px;
  font-weight: bold;
}

#loser {
  padding: 40px 0 0 0;
  font-size: 5vh;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  border: 5px solid black;
  width: 40%;
  height: 40%;
  margin: 10px 30%;
  background-color: lightsalmon;
  z-index: 1;
  position: absolute;
}

#level-complete {
  padding: 40px 0 0 0;
  font-size: 5vh;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  border: 5px solid white;
  width: 40%;
  height: 40%;
  margin: 10px 30%;
  background-color: lightskyblue;
  z-index: 1;
  position: absolute;
}
