canvas {
  border: 1px solid red;
  background-color: lightgrey;
  /* background-image: url("http://www.zbrushcentral.com/showthread.php?129990-background-grid"); */
}

body {
  font-family: fantasy;
}
