canvas {
  border: 1px solid indigo;
  background-color: lightgrey;
  /* background-image: url("http://www.zbrushcentral.com/showthread.php?129990-background-grid"); */
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  background-color: lightskyblue;
  text-align: left;
  font-size: 40px;
  color: white;
  border-bottom: 1px solid silver;
  width: 100%;
  padding: 10px 20px;
}

.flex-container {
  flex-direction: row;
}
.flex-item {
  border: 1px solid black;
  list-style: none;
  width: 30%;
}
button {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

select {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.quest {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid black;
  width: 30%;
  margin: 5px;
  display: inline-block;
}

#scoreDiv {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 5px;
  width: 10%;
  display: inline-block;
}

.color-bar {
  flex-wrap: nowrap;
  width: 10px;
  height: 20px;
  display: inline-block;
}
